<h1> Member Details</h1>
<div class="staffs show">
	<h2> SHOWING MEMBER </h2>
/<div class="container">

<ul class="list-group">
  <li href="#" class="list-group-item list-group-item" >NAME                 :<%= @staff.name %></li>
  <li href="#" class="list-group-item list-group-item-success">PHONE             : <%= @staff.phone%></li>
  <li href="#" class="list-group-item list-group-item-info">ADDRESS     : <%= @staff.designation%></li>
<li href="#" class="list-group-item list-group-item-warning">GENDER               : <%= @staff.gender%></li>
<li href="#" class="list-group-item list-group-item-danger">AGE  :<%= @staff.age %></li>
</ul>
</div>
